<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Invoice</title>
  </head>
  <body>
    <div class="container">
        <h1>Ini Tagihannya mas {{nama}} </h1>

        <table class="table">
            <thead>
                <tr>
                    <td>No Invoice</td>
                    <td>Nama</td>
                    <td>Tanggal</td>
                    <td>Total Tagihan</td>
                    <td>Jatuh Tempo</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{no}}</td>
                    <td>{{nama}}</td>
                    <td>{{tanggal}}</td>
                    <td>{{total}}</td>
                    <td>{{jatuh}}</td>
                </tr>
            </tbody>
        </table>
    </div>

  </body>
</html>
















<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
    </body>
</html>








